# Include this in your server block.
# NOTE - Include only if MaxMind is enabled!
geoip2 /etc/nginx/maxmind/maxmind.mmdb {
  auto_reload 24h;

  $geoip_continent_code   continent code;
  $geoip_continent_name   continent name en;
  $geoip_country_code     country iso_code;
  $geoip_country_name     country names en;   
}